* {
  margin: 0px; }

.main-wrapper {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-gap: 20px; }

.separador {
  margin-bottom: 30px;
  margin-top: 30px; }

body {
  position: relative;
  padding-bottom: 70px;
  min-height: 100vh; }

/*nav*/
.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005fa3; }
  .nav h2 {
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 100px; }

.navImg {
  width: 150px; }

.contenedorVinculos {
  padding: 9px 25px;
  background-color: #005fa3;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0.1s; }

.contenedorVinculos:hover {
  background-color: #e77f4b;
  color: #005fa3; }

/*Main*/
main {
  grid-area: main;
  width: 90vw;
  margin: auto, auto;
  padding: 30px 100px; }

#articuloPrincipal {
  text-align: center; }

#articuloContenido {
  display: flex;
  flex-direction: row; }

.containerRow {
  display: flex;
  flex-direction: row; }
  .containerRow img {
    width: 350px; }

.containerColumn {
  display: flex;
  flex-direction: column; }

.orientacionImagenFlota {
  display: flex;
  justify-content: space-between; }

#formularioContacto {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  text-align: auto; }
  #formularioContacto div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: auto; }

/*Footer*/
footer {
  grid-area: footer;
  color: white;
  display: flex;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #005fa3; }
  footer p {
    text-align: center; }
  footer ul li {
    display: inline-block; }
  footer a {
    padding: 6px 20px;
    background-color: #005fa3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease 0.1s; }
  footer a:hover {
    color: #e77f4b; }
  footer img {
    width: 100px; }

/*Media Queries*/
@media screen and (max-width: 400px) {
  .main-wrapper {
    grid-template-areas: "nav" "main" "footer"; }
  nav {
    flex-direction: row;
    justify-content: space-between; }
  nav ul li {
    display: inline-block; } }

@media screen and (max-width: 800px) {
  .main-wrapper {
    grid-template-areas: "nav" "header" "main" "footer"; } }
