* {
  margin: 0px; }

.main-wrapper {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-gap: 20px; }

.separador, .nav h2 {
  margin-bottom: 30px;
  margin-top: 30px; }

.background-azul, .nav, .contenedorVinculos, footer, footer a {
  background-color: #005fa3; }

.background-naranja, .contenedorVinculos:hover {
  background-color: #e77f4b; }

.color-azul, .contenedorVinculos:hover {
  color: #005fa3; }

.color-naranja, footer a:hover {
  color: #e77f4b; }

.color-blanco, .nav h2, .contenedorVinculos, footer, footer a {
  color: white; }

body {
  position: relative;
  padding-bottom: 70px;
  min-height: 100vh; }

/*nav*/
.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nav h2 {
    margin-left: 100px; }

.navImg {
  width: 150px; }

.contenedorVinculos {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0.1s; }

/*Main*/
main {
  grid-area: main;
  width: 90vw;
  margin: auto, auto;
  padding: 30px 100px; }
  main #articuloPrincipal {
    text-align: center; }
  main #articuloContenido {
    display: flex;
    flex-direction: row; }
  main .containerRow {
    display: flex;
    flex-direction: row; }
    main .containerRow img {
      width: 350px; }
  main .flotaImagen {
    width: 250px; }
  main .containerColumn {
    display: flex;
    flex-direction: column; }
  main .orientacionImagenFlota {
    display: flex;
    justify-content: space-between; }
  main #formularioContacto {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    text-align: auto; }
    main #formularioContacto div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: auto; }

/*Footer*/
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between; }
  footer p {
    text-align: center; }
  footer ul li {
    display: inline-block; }
  footer a {
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease 0.1s; }
  footer img {
    width: 100px; }

/*Media Queries*/
@media screen and (max-width: 400px) {
  .main-wrapper {
    grid-template-areas: "nav" "main" "footer"; }
  nav {
    flex-direction: row;
    justify-content: space-between; }
  nav ul li {
    display: inline-block; } }

@media screen and (max-width: 800px) {
  .main-wrapper {
    grid-template-areas: "nav" "header" "main" "footer"; } }
