//Main//
/*Main*/

main {
  grid-area: main;
  width: 90vw;
  

  .paginaPrincipal{
    @extend .color-blanco;
  }
  
  #articuloPrincipal {
    text-align: center;

  }
  .tarjeta{
    width: 300px;
  }

  #articuloContenido {
    @include flex(flex,row);
  }

  .containerRow {
    @include flex(flex,row);
    img {
      width: 350px;
    }
  }
  .flotaImagen {
    width: 250px;
  }

  .containerColumn {
    @include flex(flex,column);
  }

  .orientacionImagenFlota {
    display: flex;
    justify-content: space-between;
  }

  #formularioContacto {
    @include flex(flex,row);
    align-items: left;
    justify-content: center;

    text-align: auto;
    div {
      @include flex(flex,column);
      align-items: center;
      justify-content: space-between;

      text-align: auto;
    }
  }
}
