// Nav //
/*nav*/

.nav {
  grid-area: nav;
  @include flex(flex,column);
  align-items: center;
  @extend .background-azul;
  h2 {
    margin-left: 100px;
    @extend .separador;
    @extend .color-blanco;
  }
}
.navImg {
  width: 150px;
}

.contenedorVinculos {
  padding: 9px 25px;
  @extend .background-azul;
  @extend .color-blanco;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0.1s;
}

.contenedorVinculos:hover {
  @extend .background-naranja;
  @extend .color-azul;
}
