* {
  margin: 0px;
}

.main-wrapper {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-gap: 20px;
}

.imgContenedor{
  width: 600px;
  height: 300px;
  margin-bottom: 10px;
}





//flex//

@mixin flex($display, $direction) {
  display: $display;
  flex-direction: $direction  ;
}

//para usar mixin @include flex(flex,column);//

//separador//
$valoresMargins: (

pixeles: 30px,


);
@each $var, $px in $valoresMargins    {
  .separador{
    margin-bottom: $px;
  margin-top: $px;
  }


}

//background colors//

$backgroundColors: (
  azul : #005fa3,
  naranja: #e77f4b,
);

@each $bkclr, $color in $backgroundColors {
  .background-#{$bkclr}{
    background-color: $color;
  }
}

//colors//

$colors: (
  azul : #005fa3,
  naranja: #e77f4b,
  blanco: white,
);

@each $clr, $color2 in $colors {
  .color-#{$clr}{
    color: $color2;
  }
}




//body//

body {
  position: relative;
  padding-bottom: 70px;
  min-height: 100vh;
}

@import "_nav";

@import "_main";

@import "_footer";

@import "_mediaqueries";
